.App {
  text-align: center;
}

.card {
  background-color: #BFCBC2;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event-text {
  margin-top: 0px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
